* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

form {
  width: 100%;
  margin-bottom: 1rem
}

header {
  background-color: #348C31;
  color: white;
}

h1 {
  text-align: center;
  padding: 1rem;
  border: 1px solid black;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-shadow: 1px 1px 2px darkslategrey;
}

h2, legend {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.35rem;
}

h4 {
  font-size: 1.2rem
}

h5 {
  font-size: 1.1rem;
  font-weight: 700;
}

legend {
  background-color: #3498db;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
}

fieldset {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  border: none;
  background-color: #3498db;
  border-radius: 1rem;
  align-items: flex-start;
}

input, textarea {
  background-color: #88c0e5;
  border: none;
  margin-bottom: 1rem;
  width: 100%;
}

span {
  display: inline-block;
}

form span {
  display: flex;
  color: white;
  width: 100%;
}

input::placeholder, textarea::placeholder {
  color: lightslategrey;
}

label {
  margin-bottom: 0.5rem;
}

label, legend {
  color: white;
  text-shadow: 1px 1px 2px darkslategrey;
}

#productDeliveryInput {
  width: auto;
}

#formSubmitBtn {
  cursor: pointer;
  background-color: #2ecc71;
  border: solid 1px #27ae60;
  padding: 0.5rem 1rem;
}

#formSubmitBtn:hover, #products button:hover {
  background-color: #27ae60;
  color: darkslategray;
}

#formResetBtn {
  cursor: pointer;
  background-color: #e74c3c;
  border: solid 1px #c0392b;
  padding: 0.5rem 1rem;
}

#formResetBtn:hover {
  background-color: #c0392b;
  color: darkslategray;
}

#formSubmitBtn:active, #formResetBtn:active, #products button:active {
  transform: translateY(2px);
}

.btnContainer {
  display: flex;
}

.btnContainer input {
  margin-right: 1rem;
  color: white;
}

.productCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem 1rem;

}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#products {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

#products div {
  background-color: #e74c3c;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    margin: 0.5em;
}

#products img {
  max-width: 100%;
  object-fit: cover;
}

#products button {
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0;
  cursor: pointer;
  background-color: #2ecc71;
  border: solid 1px #27ae60;
}